.app.dark {
  --bg-color: rgb(118, 118, 255);
  --inverted-bg-color: rgb(234, 234, 234);


  --primary-color: rgb(0, 255, 0);
  --secondary-color: rgb(155, 255, 155);
  --inverted-primary-color: rgb(90, 90, 236);
  --inverted-secondary-color: rgb(43, 67, 172);
}